<app-blog></app-blog>
<main>
  <div class="container-blog">
    <h1>Get started With Angular</h1>

    <p>
      Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.
    </p>

    <code>
      <pre>
        <button (click)="copyText()">{{ isCliked ? 'Copied' : 'Copy' }}</button>
        {{ installAngular }}
      </pre>
    </code>

    <p>
      On Windows client computers, the execution of PowerShell scripts is disabled by default. To allow the execution of PowerShell scripts, which is needed for npm global binaries, you must set the following
    </p>

    <code>
      <pre>
        <button (click)="copyText2()">{{ isCliked ? 'Copied' : 'Copy' }}</button>
        {{ setExecutionPolicy }}
      </pre>
    </code>

    <h3>Create a workspace and initial application</h3>

    <p>You develop apps in the context of an Angular workspace.<br>

      To create a new workspace and initial starter app:
    </p>

    <h4>
        Run the CLI command ng new and provide the name my-app, as shown here:
    </h4>

    <code>
      <pre>
        <button (click)="copyText3()">{{ isCliked ? 'Copied' : 'Copy' }}</button>
        {{ startedProject }}
      </pre>
    </code>
  </div>
</main>
